@tailwind base;
@tailwind components;
@tailwind utilities;

/* 👇 이 부분이 핵심입니다. 꼭 추가하세요! */
html, body, #root {
  height: 100%;
  width: 100%;
  display: flex; /* 레이아웃 깨짐 방지 */
  flex-direction: column;
}